/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "sof.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
&kscan0 {
    col-gpios
        = <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        ;
};


&adc {
	status = "okay";
	#io-channel-cells = <1>;
};

/ {
    analog_input_0: analog_input_0 {
        compatible = "zmk,analog-input";
        #sensor-binding-cells = <0>;
        sampling-hz = <100>;

        x-ch {
            io-channels = <&adc 5>;
            mv-mid = <1600>;
            mv-min-max = <1200>;
            mv-deadzone = <1>;               // 🔧 Very low
            scale-multiplier = <1>;
            scale-divisor = <8>;             // 🔧 Higher gain
            input-code = <INPUT_REL_X>;
            evt-type = <INPUT_EV_REL>;
        };

        y-ch {
            io-channels = <&adc 7>;
            mv-mid = <1600>;
            mv-min-max = <1200>;
            mv-deadzone = <1>;               // 🔧 Very low
            scale-multiplier = <1>;
            scale-divisor = <8>;
            input-code = <INPUT_REL_Y>;
            evt-type = <INPUT_EV_REL>;
        };
    };
};
/ {
    pointing_device {
        compatible = "zmk,pointing-device";
        sensors = <&analog_input_0>;
    };
};
